*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body{
  font-family:  Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin: 5px;
  padding-top: 30px;
  background: #1b2023;
}

header{
  text-align: center;
  padding: 20px;
}

header h1{
  color: #c7ab93;
  font-size: 64px;
}

header p{
  color: #a55;
}

nav{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px;
}

main{
  width: 1000px;
  margin: 0 auto;
}


nav a{
  
  color: #333;
  display: grid;
  padding: 16px 12px;  
  background: #c7ab93;
  border-radius: 4px;
  margin: 0 10px;
  text-align: center;
  text-transform: uppercase;
}

.container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  
}

.conteudo{
  text-align: right;
  display: grid;
  align-items: center;
  padding: 30px;
  color: #c7ab93;

}
.conteudo h1{
  font-size: 36px;

}
.conteudo p{
  
  font-size: 16px;
  line-height: 24px;
}

.conteudo a{
  padding: 16px 12px;
  background: #f21010;
  color: #000;
  border-radius: 4px;
  place-self: end; 
  text-transform: uppercase;

}

.descricao, .vermais{
  grid-column: 1;
}





.banner{
  display: block;
  max-width: 100%;
  grid-column: 2;
}

.subdescricao{
  display: grid;
  text-align: right;
  place-items: center;  
  padding: 30px;
  font-size: 32px;
  background: #c7ab93;
  text-transform: uppercase;
}

.vantagens{
 display: grid;
 grid-template-columns: auto 1fr; 
 gap: 0px 10px;
 padding: 15px;
}

.vantagens p{
  grid-column: 2;
}

.vantagens h3{
  color: #f21010;
}

.vantagens p{
  color: #333;
  background: #c7ab93;
  padding: 10px;
  border-radius: 4px;

}



